data/
results/
*.fastq
*.fastq.gz
*.bam
*.sam
*.rds
*.h5ad
*.h5
*.tar
*.zip

.nextflow/
.nextflow.log*
work/
reports/

__pycache__/
*.py[cod]
*$py.class
venv/
.env
.ipynb_checkpoints/

.Rproj.user/
.Rhistory
.RData
.Ruserdata

.DS_Store
Thumbs.db